* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #AED6F1 50%, #E8DAEF 50%);
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block; 
    width: 204px; 
    height: 200px;
}

button {
    display: block;
    border: none;
    outline: none;
}

button:hover img {
    transform: scale(1.08);
}

#flex-container {
    display: flex; 
    flex-flow: row nowrap;
}

.humanPlayer, .computerPlayer {
    flex-grow: 1;
    height: 100vh;
}

.humanPlayer { 
    background-color: #AED6F1;
}

.humanPlayer img {
    background-color: #AED6F1;
}

.humanPlayer button {
    margin-right: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.computerPlayer {
    background-color: #E8DAEF;
}

.computerPlayer img {
    margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
}

.scoreboard {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    margin: auto;
    top: 30px;
    right: 0;
    left: 0;
    width: 19%;
    height: 55%;
    justify-content: flex-start;
}

.scoreboard h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-weight: 800;
}

.scores {
    border: 5px solid white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.scores p {
    font-size: 30px;
    font-style: bold;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px 25px;
}

.info {
    margin-top: 125px;
    flex-basis: 25%;
}

#display-info {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: 800; 
    font-style: bold;
    letter-spacing: 3px; 
    color: white;
}

.addClickEffect {
    transform: scale(1.1);
}

